<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyou.apps.lookpan"
    android:versionCode="18"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="com.xiyou.apps.lookpan.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.xiyou.apps.lookpan.ui.FirstActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xiyou.apps.lookpan.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.xiyou.apps.lookpan.ui.RegisterActivity" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.EconomicCalendaActivity"
            android:label="财经日历"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.ETFReportActivity"
            android:label="ETF报告"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.EditOptionalActivity"
            android:label="我的自选"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.AddOptionalActivity"
            android:label="添加自选"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.SearchActivity"
            android:label="查询"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.CalcToolActivity"
            android:label="单位换算"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.fragment.news.live.ShowLiveActivity"
            android:label="实时新闻"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.PortOptionalActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.ShowNewsActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.VirtualTradeActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.MeKaiHuActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.MeFanKuiActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.LoadingActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiyou.apps.lookpan.ui.OpenPositionActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.CloseOutActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.ParamSetActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.KlineNormSetActiviy"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.RemindActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.ChooseOptionalActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.alarm.AlarmAlertActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.DetailStrategyActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.CopyDetailStrategyActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.RemindListActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults" />
        <activity
            android:name="com.xiyou.apps.lookpan.ui.FullImageActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <!--
        <receiver android:name="com.xiyou.apps.lookpan.ui.alarm.AlarmInitReceiver" >
           <intent-filter android:priority="999" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiyou.apps.lookpan.ui.alarm.AlarmReceivereiver"
            android:process=":remote" >
        </receiver>
        -->


        <!-- 友盟的推送配置 -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53c9d96956240b0cf808fc54" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3cdb0ffa43b2661a0119b10b5b7e059f" >
        </meta-data>
        <!--
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" >
        </meta-data>
        -->

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiyou.apps.lookpan.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="com.xiyou.apps.lookpan.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiyou.apps.lookpan.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <service android:name="com.xiyou.apps.lookpan.ui.alarm.AlarmService" />

        <!--
        V1.3.0添加的service，负责下载通知的资源 
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        -->
    </application>

</manifest>